
#showcase{
    width: 100%;
    background-color: white;
}
.gifs-container{
    width: 80%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gif {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 20px;
}
.gif-info{
    text-align: center;
    font-weight: bold;
    font-family: "Cookie", cursive;
}
.dateAndBtn{
    font-size:1vw;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
.gif-name{
    font-size:1vw;
    margin:10px;
}
#favorite-button{
    height: 50px;
    width: 50px;
    border: none;
    background-image: url(../media/heart-outline.svg);
    background-color:lightgray;
    background-size:contain ;
    display: inline;
    float: right;
    margin-left: 10px;
}
.fav-btn-clicked{
background-image: url(../media/heart.svg) !important;
isolation: isolate;
background-color:rgb(44, 44, 44) !important;
}
.gif img{
width:100%;
margin-top: 5px;
margin-bottom: 0px;
}
.alert-container{
    margin-top: 0.5vw;
    width: 100%;
}
.alert-bad{
    margin:0 auto;
    background-color:rgb(200, 50, 50);
    isolation: isolate;
    text-align: center;
    text-justify: middle;
    border-radius: 5px;
    height: calc(20px + 1vw);
    font-family: "Cookie", cursive;
    font-weight: bold;
    width: 80%;
}
