#uploaded-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    width: 100%;
    text-align: center;
    font-size: 50px;
}
.upload-button{
    width:150px;
    height: 50px;
    border-radius: 20px;
    outline: none;
}
#upload-file{
    display: none;
}
